h1 {
 color: white;
 font-size: 60px;
 font-family: monospace;
}

body {
  background-color: #1A2238;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
  height: 100vh;
 font-family: sans-serif;
}

#drum-machine {
  background-color: #F4DB7D;
  min-width: 45rem;
  height: 30rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

#drum-pad {
 height: 100%;
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}

.drum-pad {
 width: calc(100% / 3);
 height: calc(100% / 3);
 transform: scale(.8);
 border-radius: 16px;
 background-color: #1A2238;
 color: #FF6A3D;
 font-size: 60px;
 font-weight: bold;
 box-shadow: 2px 2px 2px #222, 15px 15px 2px #2f2f2f;
}

#display {
 background-color: #1A2238;
 width: 25%;
 height: 10%;
 margin-right: calc(25% / 2);
 margin-top: 10%;
 color: #9DAAF2;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 border: 2px solid #9DAAF2;
}